@model WebApplication2.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row ">
        <div class="col-6">
            <image class="img-fluid" src="@Model.imagePath" />
        </div>
        <div class="col-6 justify-content-between border rounded border-secondary">
            <div class="row ">
                <div class="mx-auto ">
                    <h2 class="font-weight-bold text-center">
                        @Html.DisplayFor(model => model.name)
                    </h2>
                    <h2 class="font-weight-bold text-center">
                        @Html.DisplayFor(model => model.weight) kg
                    </h2>
                    <div class="font-weight-bold text-center">
                        @Html.DisplayFor(model => model.description)
                    </div>
                </div>
            </div>
        </div>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.barcode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
