@model IEnumerable<WebApplication2.Models.Sale>

@{
    ViewData["Title"] = "Sales";
}

<h1>Sale History</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Series Name
            </th>
            <th>
                Product Name
            </th>
            <th >
                Total Price
            </th>
            <th >
                Total Cost
            </th>
            <th >
                Total Profit
            </th>
            <th>
                Quantity
            </th>
            <th >
                Seller Name
            </th>
            <th >
                @Html.DisplayNameFor(model => model.dateTime.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a role="button" class=" " asp-controller="ProductSeries" asp-action="Details" asp-route-id="@item.productSeries.id">@Html.DisplayFor(modelItem => item.productSeries.name)</a>
            </td>
            <td>
                <a role="button" class=" " asp-controller="Products" asp-action="Details" asp-route-id="@item.productSeries.product.barcode">@Html.DisplayFor(modelItem => item.productSeries.product.name)</a>
</td>
            <td class="font-weight-bold text-center mb-1 text-info">
                @((item.productSeries.price*item.quantity).ToString())
            </td>
            <td class="font-weight-bold text-center mb-1 text-danger">
                @((item.productSeries.cost*item.quantity).ToString())
            </td>
            <td class="font-weight-bold text-center mb-1 text-success">
                @(((item.productSeries.price - item.productSeries.cost)*item.quantity).ToString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.productSeries.seller.name)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.dateTime.DateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
