@model IEnumerable<WebApplication2.Models.Sale>

@{
    ViewData["Title"] = "Sales";
}

<h1>Sale History</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Series @Html.DisplayNameFor(model => model.productSeries.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productSeries.product.name)
            </th>
            <th class="font-weight-bold text-center mb-1">
                @Html.DisplayNameFor(model => model.productSeries.price)
            </th>
            <th class="font-weight-bold text-center mb-1">
                @Html.DisplayNameFor(model => model.productSeries.cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th class="font-weight-bold text-center mb-1">
                @Html.DisplayNameFor(model => model.productSeries.seller.name)
            </th>
            <th class="font-weight-bold text-center mb-1">
                @Html.DisplayNameFor(model => model.dateTime.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productSeries.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productSeries.product.name)
            </td>
            <td class="font-weight-bold text-center mb-1">
                @Html.DisplayFor(modelItem => item.productSeries.price)
            </td>
            <td class="font-weight-bold text-center mb-1">
                @Html.DisplayFor(modelItem => item.productSeries.cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td class="font-weight-bold text-center mb-1">
                @Html.DisplayFor(modelItem => item.productSeries.seller.name)
            </td>
            <td class="font-weight-bold text-center mb-1">
                @Html.DisplayFor(modelItem => item.dateTime.DateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
