@model IEnumerable<WebApplication2.Models.ProductSeries>

@{
    ViewData["Title"] = "Product Series";
}

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer

<h1>@localizer["Product Series"]</h1>
<p>
    <a asp-action="Create">@localizer["Create"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @localizer["Name"]
            </th>
            <th>
                @localizer["Seller"]
            </th>
            <th>
                @localizer["Product"]
            </th>
            <th>
                @localizer["Quantity"]
            </th>
            <th>
                @localizer["Unit Price"]
            </th>
            <th>
                @localizer["Unit Cost"]
            </th>
            <th>
                @localizer["Buy Time"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.product.barcode">@Html.DisplayFor(modelItem => item.product.name)</a>
                </td>
                <td>
                    <a asp-controller="Sellers" asp-action="Details" asp-route-id="@item.seller.id">@Html.DisplayFor(modelItem => item.seller.name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.buyTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">@localizer["Edit"]</a>
                    <a asp-controller="Sales" asp-action="Index" asp-route-productSeriesId="@item.id">@localizer["Sales"]  </a>
                    <a asp-action="Delete" asp-route-id="@item.id" class="text-danger">@localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
